#temps {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#temp_change {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#PSM {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#PSM_change {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
